.body-img {
    background: url('../Images/24064903.jpg');
    background-repeat: no-repeat;
    background-size: 39%;
    position: fixed;
    top: 61px;
    left: 774px;
    height: 100%;
    opacity: 1;
    width: 100%;
}
